@tailwind base;
@tailwind components;
@tailwind utilities;

/* In your CSS file */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Optional: Adjust margins for alignment */
}

/* Style the scrollbar itself */
::-webkit-scrollbar {
  width: 12px; /* width of the scrollbar */
  height: 12px; /* height of the scrollbar */
}

/* Style the track (the background of the scrollbar) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the scrollbar track */
}

/* Style the handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: #888; /* color of the scrollbar handle */
  border-radius: 6px; /* rounded corners for the handle */
}